<div class="relative z-10" data-controller="dropdown--component">
  <button id="dropdown-button" class="hover:cursor-pointer" data-action="click->dropdown--component#toggle click@window->dropdown--component#hide">
    <%= button %>
  </button>
  <div
    data-dropdown--component-target="menu"
    class="hidden transition transform absolute bg-white shadow rounded p-2 origin-bottom-right right-0"
    data-transition-enter-from="opacity-0 scale-95"
    data-transition-enter-to="opacity-100 scale-100"
    data-transition-leave-from="opacity-100 scale-100"
    data-transition-leave-to="opacity-0 scale-95">
    <%= menu %>
  </div>
</div>
