<% if resource.errors.any? %>
  <div class="p-4 mt-8 mb-4 text-body-sm text-alert rounded-lg bg-alert/10">
    <span class="font-medium"><%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase) %></span>
    <ul class="mt-1.5 list-disc list-inside">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
